<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="<%= favicon %>">
    <title><%= title %></title>
</head>

<style>
    html,
    body,
    div {
        padding: 0;
        margin: 0;
    }

    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        display: grid;
        grid-template-areas:
            "title article"
            "navigation article";
        column-gap: 5px;
        row-gap: 5px;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }

    .title-area {
        grid-area: title;
        line-height: 35px;
        font-size: 30px;
        font-weight: bold;
        width: 20vw;
        max-width: 300px;
        min-width: 200px;
    }

    .navigation-area {
        grid-area: navigation;
        width: 20vw;
        max-width: 300px;
        min-width: 200px;
    }

    @media only screen and (max-width: 1000px) {
        .container {
            overflow: hidden;
            grid-template-areas:
                "title navigation"
                "article navigation";
            grid-template-columns: 100vw auto;
            grid-template-rows: 1fr auto;
        }

        .navigation-area {
            grid-area: navigation;
            background-color: white;
            margin-left: -100vw;
            width: 100vw;
            height: 100vh;
            max-width: 100vw;
            min-width: 100vw;
            transition: 0.3s all;
        }

        .navigation-area .open {
            margin-right: 0;
        }
    }
</style>

<body>
    <div class="container">
        <div class="title-area"><%- title.replace(/ /g, '\<br>') %></div>
        <div class="navigation-area"><%- include(navigationPath, {
            trees: tree.children,
            parseLink: parseLink,
        }); %></div>
        <div style="grid-area: article"><%- article %></div>
    </div>
</body>

</html>